* {
	font-family: Arial;
}

body {
	background-color: #fbdf18;
	font-family: Arial;
	margin: 0;
	padding: 0;

	overflow: hidden;
}


header{
	background-color: #0d983d;

	padding: 0;
	margin: 0;
	width: 100%;
	height: 80px;
}

#headerContent{
	display: flex;
	width: 50%;
	height: 100%;
	margin: 0;
	padding: 0;
}
#denhaagwapenLogo{
	margin: auto 0 auto 0;
	width: 80px;
	height: 80px;
}
#headerTxt{
	margin: auto 0;
}
#headerTitle{
	font-size: 30px;
	margin: 0;
}
#createrMark{
	font-size: 12px;
	margin: 0;
	text-align: center;
}


main{
	display: flex;
	flex-direction: column;
	align-items: center;

	height: 100%;
	width: 100%;

	margin: 0 30px 0 0;
	padding: 0;
}

#questionTxt{
	font-size: 20px;
	margin: 20px 50px 0 50px;
	padding: 0;

	text-align: center;
}
#answers{
	list-style: none;
}
.answerTxt{
	font-size: 20px;
	margin: 0 80px 0 15px;
	text-align: center;
}
.answerBtn{
	width: 15px;
	height: 15px;
	
	margin-left: 50px;
	outline: none;
}
.answerLI{
	display: flex;
	margin: 0 0 4px 0;
}

.answerExplenation{
	height: fit-content;
	width: fit-content;
	max-width: 60%;
	margin: 0;
	padding: 0;
}
#correctAnswerTxt{
	margin: 10px 0 0 0;
	text-align: center;
	font-size: 15px;
}
#answerExplenationTxt{
	margin: 20px 0 30px 0;
	text-align: center;
	font-size: 18px;
}

#submitQuestionBtn{
	background-color: #10b047;
	border: none;
	outline: none;

	width: 175px;
	height: 35px;
	font-size: 16px;
	padding: 0;
	margin: 0;
}

#submitQuestionBtn:hover{
	background-color: #0e9e40;
}

.navQuestionBtn{
	background-color: #10b047;
	border: none;
	outline: none;

	width: 150px;
	height: 40px;
	font-size: 15px;
	margin: 0;
	padding: 0;
}
.navQuestionBtn:hover{
	background-color: #0e9e40;
}
.navQuestionBtn:disabled{
	background-color: #0e9e40;
	opacity: 0.7;

	border: none;

	color: #333333;

	width: 150px;
	height: 40px;
	font-size: 15px;
	margin: 0;
	padding: 0;
}

#stats{
	margin: 10px 0 0 0;
	text-align: center;
	font-size: 12px;
}